/*元素选择器*/
p{
font-size:20px;
color:black;
}
/*class选择器 对普遍元素布局*/
.class1{
border:2px solid;
border-radius:25px;
box-shadow: 10px 10px 5px #888888;
background-color:yellow;
}
.class2{
border:2px solid;
border-radius:25px;
box-shadow: 10px 10px 5px #888888;
background-color:blue;
}
/*id选择器 用以对特定元素布局*/
#first{
font-size:100px;
}
#round{
border:2px solid;
border-radius:25px;
box-shadow: 10px 10px 5px #888888;
background-color:purple;
}